/* =============
    Typography
============= */
body{
    font-family: 'montserrat', sans-serif; 

    h1{ font-size: 48px;
        font-weight: 500;
    }
    h2{ font-size: 22px;
        font-weight: 500;
    }
    button{
        font-size: 14px;
        font-weight: 400;
    }

    h3{font-size: 28px;
    font-weight: 400;
    }

    h4{font-size: 14px;
        font-weight: 400;
        color: white;

        @include md{
            text-align: center;
            color: white;
        font-size: 22px;
        font-weight: 500;
        }
    }

    .hero2_text{
        color: white;
        font-size: 16px;
        font-weight: 400;

        @include md{
            color: white;
        font-size: 24px;
        font-weight: 500;
    
    }
    }
}
footer{
    p{
    font-size: 10px;
    font-weight: 400;
    color: white;

    @include md{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    }
}
}

.bottom_bar{
a {
    outline: none;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    color: black;
  }
}

.need_help{
    a {
        outline: none;
        text-decoration: none;
        font-size: 10px;
        font-weight: 400;
        color: white;

        @include md{
            color: white;
            font-size: 14px;
            font-weight: 400;
            }
      }

    ul {
        list-style: none
    }
    }