/* =============
    gallery
============= */
.gallery{
    .gallery_header{
        text-align: center;
    }

    .gallery_images{
        padding: 16px;
        padding-bottom: 36px;
        gap: 16px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "pic1 pic2"
        "pic3 pic4"
        "pic5 pic6"
        ;
        

    .pic1{
        grid-area: pic1;
        width: 100%;
    }
    .pic2{
        grid-area: pic2;
        width: 100%;
    }
    .pic3{
        grid-area: pic3;
        width: 100%;
    }
    .pic4{
        grid-area: pic4;
        width: 100%;
    }
    .pic5{
        grid-area: pic5;
        width: 100%;
    }

    .pic6{
        grid-area: pic6;
        width: 100%;
    }  
    .pic7{
        display: none;
    }
    .pic8{
        display: none;
    }

    .pic9{
        display: none;
    }

    .pic10{
        display: none;
    }

    .pic11{
        display: none;
    }

    @include md{
        padding-left: 117px;
        padding-right: 117px;
        padding: 16px;
        padding-bottom: 36px;
        gap: 16px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "pic7 pic3 pic3"
        "pic1 pic5 pic8"
        "pic6 pic5 pic2"
        "pic4 pic4 pic4"
        ;

        .pic7{
            display: block;
        }
        .pic8{
            display: block;
        }
    }

    @include lg{
        padding-left: 117px;
        padding-right: 117px;
        padding: 16px;
        padding-bottom: 36px;
        gap: 16px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-areas:
        "pic9 pic8 pic6 pic6 pic5"
        "pic10 pic8 pic7 pic2 pic5"
        "pic10 pic1 pic7 pic4 pic4"
        "pic11 pic3 pic3 pic3 pic3"
        ;

        .pic9{
            display: block;
        }
        .pic10{
            display: block;
        }
        .pic11{
            display: block;
        }
    }
}
}