/* =============
    gallery
============= */
.gallery{
    .gallery_header{
        text-align: center;
    }

    .gallery_images{
        padding: 16px;
        padding-bottom: 36px;
        gap: 16px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "pic1 pic2"
        "pic3 pic4"
        "pic5 pic6"
        ;
        

    .pic1{
        grid-area: pic1;
        width: 100%;
    }
    .pic2{
        grid-area: pic2;
        width: 100%;
    }
    .pic3{
        grid-area: pic3;
        width: 100%;
    }
    .pic4{
        grid-area: pic4;
        width: 100%;
    }
    .pic5{
        grid-area: pic5;
        width: 100%;
    }

    .pic6{
        grid-area: pic6;
        width: 100%;
    }  
    .pic1t{
        display: none;
    }
    .pic2t{
        display: none;
    }
    .pic3t{
        display: none;
    }
    .pic4t{
        display: none;
    }
    .pic5t{
        display: none;
    }

    .pic6t{
        display: none;
    }  
    .pic7t{
        display: none;
    }  
    .pic8t{
        display: none;
    }  
}
@include md{
    .gallery_images{

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "pic4t pic3t pic3t"
        "pic8t pic5t pic6t"
        "pic7t pic5t pic2t"
        "pic1t pic1t pic1t"
        ;


        
    .pic1{
           display: none;
        }
    .pic2{
            display: none;
        }
    .pic3{
            display: none;
        }
    .pic4{
            display: none;
        }
    .pic5{
            display: none;
        }
    
    .pic6{
            display: none;
        }  
    .pic1t{
            grid-area: pic1t;
            width: 100%;
        }
    .pic2t{
            grid-area: pic2t;
            width: 100%;        
        }
    .pic3t{
            grid-area: pic3t;
            width: 100%;        
        }
    .pic4t{
            grid-area: pic4t;
            width: 100%;
        }
    .pic5t{
            grid-area: pic5t;
            width: 100%;
        }        
    
    .pic6t{
            grid-area: pic6t;
            width: 100%;
        }          
    .pic7t{
            grid-area: pic7t;
            width: 100%;        
        }  
    .pic8t{
            grid-area: pic8t;
            width: 100%;
        }
}
}
}