/* =============
    Hero2
============= */
.hero2{
    .hero2_text{
        padding-top: 10px;
        text-align: center;
        background-image: url("../img/hero2.png");
        background-size: cover;
        padding-bottom: 24px;
    }
    .hero_img2{
        .hero2{
        width: auto;
        display: block;
    }
}
}