/* =============
    Footer
============= */
footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "stay need"
                        "stay find"
                        "bar bar";

                        .stay_in_touch{
                            background-color: $blue1;
                            grid-area: stay;
                            width: auto;
                            text-align: right;
                            .content{
                                padding-right: 10px;
                            }
                        
                        }
                        .need_help{
                            background-color: $blue2;
                            grid-area: need;
                            width: auto;

                            .content{
                                padding-left: 10px;
                            }
                        }
                        .find_us{
                            background-color: $blue3;
                            grid-area: find;
                            width: auto;

                            .content{
                                padding-left: 10px;
                            }


                    }
                    @include lg{
                        display:grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-areas: "find stay need"
                        "bar bar bar"
                    }
    .bottom_bar{
        grid-area: bar;
        background-color: $yellow;
        .content{
            background-color: $yellow;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "privacy terms access ca";

            .privacy{
                grid-area: privacy;
                width: auto;
            }
            .access{
                grid-area: access;
                width: auto;
            }
            .terms{
                grid-area: terms;
                width: auto;
            }
            .ca{
                grid-area: ca;
                width: auto;
            }
    }
}
}