/* =============
    Header
============= */
header{
    .container{
        background-color: $yellow; 
        width: 100%;
    

        .content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "cat logo cart burger2";

            .cat{
                grid-area: cat;
                padding: 5px;
            }
            .logo{
                grid-area: logo;
                padding: 5px;
                padding-top: 15px;
            }
            .cart{
                grid-area: cart;
                padding-top: 15px;
            }
            .burger{
                display: none;
                grid-area: burger;
                padding-top: 15px;
            }

            .burger-container{
                grid-area: burger2;
    
                @include lg{
                    display: none;
                }
    
                button{
                    border: none;
                    background-color: transparent;
                    color: $brown;
                    font-size: 20px;
    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

}
}