/* =============
    Header
============= */
header{
    .container{
        background-color: $yellow; 
        width: 100%;
    

        .content{
            display: flex;
            grid-template-columns: 25% 25% 25% 25%;

            .cat{
                grid-area: cat;
                padding: 5px;
            }
            .logo{
                grid-area: logo;
                padding: 5px;
                padding-top: 15px;
            }
            .cart{
                grid-area: cart;
                padding-top: 15px;
            }
            .burger{
                grid-area: burger;
                padding-top: 15px;
            }
        }

}
}