/* =============
    Buttons
============= */
button{
    background-color: $yellow;
    border-style:none;
    width: 188px;
    height: 32px;
    border-radius: 5px;
}

footer{
    button{
    background-color: $yellow;
    border-style:none;
    width: 64px;
    height: 32px;
    }
}

.hero2{
    button{
    background-color: $yellow;
    border-style:none;
    width: 200px;
    height: 32px;
    }
}

.shop_button{
    padding-left: 16px;
    text-align: center;
    button{
        width:396px;
    }
}